body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#divContainer {
    width: 700px;
    height: 700px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
}

/* .pixel:hover {
    background-color: palegreen;
} */