body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divContainer {
    width: 700px;
    height: 700px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
}

#containerAndColors {
    width: 800px;
    height: 700px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 30px;
}

#colorContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#buttonContainer {
    width: 700px;
    padding-right: 100px;
    display: flex;
    justify-content: space-evenly;
}
